.root {
    padding-bottom: 20px;
    li {

        display: inline-block;

        a {
            display: inline-block;
            border: 1px solid #fe5f1e;
            border-radius: 30px;
            color: #fe5f1e;
            width: 45px;
            height: 45px;
            text-align: center;
            line-height: 42px;
            margin-right: 10px;
            cursor: pointer;

            &:hover {
                background-color: #fe5f1e;
                color: #fff;

            }

        }
    }

    :global {
        .selected {
            a {
                background-color: #fe5f1e;
                color: #fff;
            }
        }
    }
}